<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <h2>User info</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table table-striped">
     <thead>
      <tr>
   		  <th class="header1">name</th>
   			 <th class="header2"><%= @user.name %></th>
   		 </tr>
   	 </thead>
   	 <tbody>
    	   <tr>
    	   	<th>introduction</th>
    	    <th><%= @user.introduction %></th>
    	   </tr>
     </tbody>
   </table>
   <p>
     <%= link_to edit_customer_path(@user.id) do %>
       <button type="button" class="btn btn-light btn-block">プロフィール編集</button>
     <% end %>
   </p>
</div>
<div class="col-md-8 offset-md-1">
 <h2><%= @user.name %>さんのオススメ一覧</h2>
  <table class="table table-striped">
   <thead>
    <tr>
     <th class="header1">ゲーム名</th>
     <th class="header2">参加可能人数</th>
    </tr>
   </thead>
   <tbody>
    <% @games.each do |game| %>
     <tr>
      <td>
       <%= link_to game_path(game.id) do %>
        <%=game.title%>
       <% end %>
      </td>
      <td><%= players_range(game.min_players, game.max_players) %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
</div>
