<div class="col-md-8 offset-md-1">
	<%= form_tag sort_by_players_range_games_path, method: :get do %>
	  最小参加人数：<%= number_field_tag :min_players %>
	  最大参加人数：<%= number_field_tag :max_players %>
	  <%= submit_tag "絞り込む" %>
	  <%= button_tag "リセット", type: :button, onclick: "resetFilters();" %>
    <% end %>
	<h2>投稿一覧</h2>
	 <table class="table table-hoble-hover table-inverse">
		 <thead>
			 <tr>
			  <th></th>
				 <th>ゲーム名</th>
				 <th>参加可能人数</th>
				 <th class=colspan="3"></th>
			 </tr>
		 </thead>
	 	 <tbody>
			  <% @games.each do |game| %>
			  <tr>
			   <td>
			   	<%= link_to games_path(game.id) do %>
            <%= image_tag game.customer.get_profile_image(50,50) %>
			    <% end %>
			   </td>
			   <td>
				<%= link_to game_path(game.id) do %>
				 <%= game.title %>
				<% end %>
				 </td>
				<td><%= players_range(game.min_players, game.max_players) %></td>
				<td>
          <span id="favorite_buttons_<%= game.id %>"><%= render "public/favorites/favorite", game: game %></span>
        </td>
        <td><%= link_to "#{game.game_comments.count} コメント", game_path(game.id) %></td>
			  </tr>
	        <% end %>
		  </tbody>
	 </table>
</div>
<script>
  function resetFilters() {
    document.querySelector('#min_players').value = '';
    document.querySelector('#max_players').value = '';
    document.querySelector('form').submit();
  }
</script>
